@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 16px;
}

.logo {
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}

.logo span {
  font-family: "Homemade Apple", cursive;
}

header nav {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: white;
  transition: left 0.3s ease-in-out;
}

header nav.open {
  left: 0;
}

header nav ul li {
  list-style: none;
  padding: 32px 16px;
  text-align: center;
}

header nav ul {
  width: 100%;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
}

.active {
  color: #f7941e;
}

header .button {
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #f7941e;
  text-transform: uppercase;
  text-decoration: none;
  color: #f7941e;
  background-color: white;
  border-radius: 5px;
}

.button.button_primary {
  color: white;
  background-color: #f7941e;
}

.burger-button {
  position: absolute;
  border: none;
  height: 2px;
  width: 32px;
  background-color: #000;
  top: 56px;
  left: 16px;
  z-index: 999;
  transition: 0.3s ease-in-out;
}

.burger-button:before,
.burger-button:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 32px;
  background-color: #000;
  left: 0;
  transition: 0.3s ease-in-out;
}

.burger-button:before {
  top: -8px;
}

.burger-button:after {
  bottom: -8px;
}

.burger-button.opened {
  transform: rotate(45deg);
}

.burger-button.opened:after {
  transform: rotate(90deg);
  bottom: 0;
}

.burger-button.opened:before {
  top: 0;
}

section {
  background: #f1f1f2;
}

.about {
  background-color: #f1f1f2;
}

section img {
  width: 100%;
}

section .button {
  background-color: #f1f1f2;
}

@media screen and (min-width: 320px) and (max-width: 719px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gift-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 30px;
  }

  .work-text {
    text-align: center;
    padding: 30px 30px;
  }

  .gift-text p {
    margin: 30px auto;
  }
  .work-text p {
    text-align: justify;
    margin: 30px auto;
  }
}

@media screen and (min-width: 720px) {
  header {
    flex-wrap: nowrap;
    padding: 40px 40px;
  }

  header .logo {
    width: auto;
    margin: 0;
  }

  header .button {
    margin: 0;
  }

  header nav {
    display: block;
    position: static;
    width: auto;
    top: 0;
    left: 0;
    background-color: white;
  }
  header nav ul {
    display: flex;
  }

  .burger-button {
    display: none;
  }

  header nav ul li {
    width: max-content;
  }
  section {
    background: #f1f1f2;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  section img {
    display: flex;
    width: 100%;
    height: 100%;
  }

  section .content {
    width: 768px;
    display: flex;
    justify-content: space-between;
    margin: 0 -7px;
  }

  section .content-reverse {
    flex-direction: row-reverse;
  }

  .couple {
    max-width: 50%;
  }

  .thanks {
    max-width: 50%;
  }

  .gift-text {
    width: 235px;
    margin-left: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .gift-text h1 {
    font-size: 30px;
  }

  .gift-text p {
    margin: 20px 0px;
    font-size: 14px;
  }

  .work-text {
    width: 310px;
    margin-right: 35px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
  }

  .work-text p {
    margin: 25px 0px;
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  header {
    padding: 40px 80px;
  }
  section {
    background: #f1f1f2;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  section img {
    display: flex;
    width: 100%;
    height: 100%;
  }

  section .content {
    width: 992px;
    display: flex;
    justify-content: space-between;
    margin: 0 -7px;
  }

  section .content-reverse {
    flex-direction: row-reverse;
  }

  .couple {
    max-width: 50%;
  }

  .thanks {
    max-width: 50%;
  }

  .gift-text {
    width: 335px;
    margin-left: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .gift-text h1 {
    font-size: 35px;
  }

  .gift-text p {
    margin: 20px 0px;
    font-size: 17px;
  }

  .work-text {
    width: 340px;
    margin-right: 76px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
  }

  .work-text p {
    margin: 30px 0px;
  }
}

@media screen and (min-width: 1440px) {
  section {
    background: #f1f1f2;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  section img {
    display: flex;
    width: 100%;
    height: 100%;
  }

  section .content {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 0 -7px;
  }

  section .gift-text {
    margin-left: 160px;
    max-width: 400px;
  }

  .gift-text h1 {
    font-size: 48px;
    line-height: 69px;
    margin-bottom: 36px;
  }

  .gift-text p {
    font-size: 20px;
    line-height: 140.62%;
    margin-bottom: 52px;
  }

  .work-text {
    max-width: 380px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    margin-right: 160px;
  }

  .work-text p {
    margin: 36px auto;
  }
}
